@import url("https://fonts.googleapis.com/css?family=Turret+Road:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hi+Melody&display=swap");

body {
  background-color: #f1c40f;
}

a {
  text-decoration: none;
  color: inherit;
}

.contact {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: right;
  font-family: "Turret Road", cursive;
}

.portfolio {
  position: fixed;
  left: 5%;
  top: 5%;
  line-height: 20pt;
  font-family: "Montserrat", sans-serif;
}