@import url('https://fonts.googleapis.com/css?family=Turret+Road:500&display=swap');

* {
    background-color: yellow;
    text-align: right;
}

div {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-family: 'Turret Road', cursive;
}

