/* @import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap'); */

* {
    color: white;
    background-color: black !important;
}

hr {
    border: 0.5px solid white !important;
}


/* font-family: 'BioRhyme', serif; */